{% extends 'djin/base.html' %}

{% block content %}
    <h2>Account {{ account.username }}</h2>
    <h4>
        <span>Posts {{ account.posts_count }}</span>
        <span>Followers {{ account.followers_count }}</span>
        <span>Followings {{ account.following_count }}</span>
    </h4>

    <p><a href="/login/{{ account.pk }}">
        {% if account.cookies %}Re-login{% else %}Login{% endif %}
    </a></p>

    <p><a href="/process/{{ account.pk }}">
        {% if account.processing %}Stop{% else %}Start{% endif %} processing
    </a></p>

    <p><a href="/">Back to accounts</a></p>

    <h3>Whoosh</h3>
    <dl>
        <dt>fields and keys</dt>
        {% for k, v in account_doc.items %}
            <dd>{{ k }}: {{ v }}</dd>
        {% endfor %}
    </dl>

    <h3>My posts</h3>
    {% for post, doc in posts %}
        <p>ID {{ post.pk }}</p>
        {% if post.description %}
            <p>{{ post.description }}</p>
        {% endif %}
        {% for media in post.media.all %}
            {% if media.kind == 'img' %}
                <img src="{{ media.source }}" width="100"/>
            {% else %}
                <video height="200" playsinline controls poster="{{ media.poster }}">
                    <source src="{{ media.source }}" type="{{ media.extension }}">
                </video>
            {% endif %}
        {% endfor %}
        {% if post.count %}
            <br/>{{ post.count }} {{ post.kind }}
        {% endif %}
        {% if post.locaiton %}
            <br/>at {{ post.location.name }}
        {% endif %}
        <dl>
            <dt>fields and keys</dt>
            {% for k, v in doc.items %}
                <dd>{{ k }}: {{ v }}</dd>
            {% endfor %}
        </dl>
        <hr/>
    {% endfor %}
{% endblock %}
